.content-products-edit {
  max-width: 100%;
  width: 850px;
  min-height: calc(100vh - 240px);
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  padding: 30px 0;
  h1 {
    margin-bottom: 30px;
  }
  @media (max-width: 650px) {
    padding: 20px;
    h1 {
      font-size: 24px;
    }
  }
}
a {
  color: #0000ff;
  font-weight: 900;
}
